<%- include('../parts/html-head')%>
<%- include('../parts/html-navbar')%>
<div class="container">
    <table class="table table-striped">
        <div class="row">
            <div class="col text-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
        </div>
        <thead>
            <th>sid</th>
            <th>name</th>
            <th>email</th>
            <th>mobile</th>
            <th>birthday</th>
            <th>address</th>
        </thead>
        <tbody id='dataBody'>
        </tbody>
    </table>

</div>
<%- include('../parts/script')%>
<script>
    const dataBody = $("#dataBody");
    const pagination = $('.pagination');
    const paginationTpl = (o)=>{
        const active = o.active ? 'active':'';
        return `<li class="page-item ${active}">
                <a class="page-link" href="#${o.page}">${o.page}</a>
            </li>`;
    }

    const dataRowTpl = (o)=>{

        return `<tr>
            <td>${o.sid}</td>
            <td>${o.name}</td>
            <td>${o.email}</td>
            <td>${o.mobile}</td>
            <td>${o.birthday}</td>
            <td>${o.address}</td>
            </tr>`
    }
    const getDataFromHash = ()=>{
        let h = location.hash.slice(1) || 1;

        fetch('/address-book/api/list/'+ h )
            .then(r=>r.json())
            .then(obj=>{
                console.log(obj);
                let str2 = "";
                pagination.empty();
                for(let i=1; i<=obj.totalPages; i++){
                    str2 += paginationTpl({
                        page: i,
                        active: h==i
                    })
                }
                pagination.append(str2);

                let str = "";
                dataBody.empty();
                for(let i of obj.rows){
                    str += dataRowTpl(i);
                }   
                dataBody.append(str);
            })
    }
    window.addEventListener('hashchange',function(){
        getDataFromHash();
    })

    getDataFromHash();
</script>
<%- include('../parts/html-foot')%>